<div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-grid"  ng-repeat="a in aulas">
    <div class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--12-col-desktop">
        <div class="mdl-card__supporting-text">
            <h4>{{a.materia.descricao}}</h4>
        </div>
        <div class="mdl-card__supporting-text">
            {{a.aluno.descricao}}
        </div>
        <div class="mdl-card__supporting-text">
            {{a.data}}
        </div>
        <div class="mdl-card__supporting-text">
            {{a.localizacao.descricao}}
        </div>
    </div>
</div>



