<div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-grid">
    <div class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--12-col-desktop">
        <div class="mdl-card__supporting-text">
            <h4>Login</h4>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label >Email</label>
            <input class="mdl-textfield__input" type="text" ng-model="credentials.username">
        </div>
        <div>
            <label >Senha</label>
            <input class="mdl-textfield__input" type="password" ng-model="credentials.password"/>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised" ng-click="login(credentials)">
            Login
        </button>
        <span id="message" class="text-danger"></span>
    </div>
</div>



